@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
    font-size: 14px;
    line-height: 1.4;
}
body {
    font-family: 'Lato', sans-serif;
    color: #777;
    font-weight: 400;
}

h4.subheading {
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
}
.column-4 {
    float: left;
    width: 33.33%;
}
.column-4:not(:last-child){
    padding-right: 20px;
}
.form__radio-group {
    display: inline-block;
    width: 49%;
    margin-bottom: 1.5rem;
}
.form__radio-input {
    display: none;
}
.form__radio-label {
    position: relative;
    font-size: 1.4rem;
    padding-left: 3.5rem;
    cursor: pointer;
}
.form__radio-button {
    position: absolute;
    top: -.4rem;
    left: 0;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border: solid 4px #55c57a;
    border-radius: 50%;
}
.form__radio-button::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 1.18rem;
    height: 1.18rem;
    border-radius: 50%;
    background-color: #55c57a;
    opacity: 0;
    transition: opacity .3s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1;
}
#regiration_form fieldset:not(:first-of-type) {
    display: none;
}
#msform {
    width: 800px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea, #msform select {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #777;
	font-size: 13px;
}
#msform select { padding-bottom: 13px; }
#msform input:focus, 
#msform textarea:focus,
#msform select:focus {
    outline: 0;
}
/*buttons*/
#msform .action-button {
	width: 100px;
    background: #27AE60;
    font-family: inherit;
    font-size: 1.1rem;
	font-weight: bold;
    color: white;
    letter-spacing: 1px;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	margin-bottom: 30px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all ease .2s;
}
.fs-subtitle {
	font-weight: normal;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.form__row h4.label-title {
    margin-bottom: 10px;
    text-align: left;
    color: #55c57a;
}
.form__row .form__radio-label {
    float: left;
}
.form__row .form__radio-button {
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    border: solid 2px #55c57a;
}
.form__row .form__radio-button::after {
    top: 49%;
    left: 51%;
    width: 0.62rem;
    height: 0.62rem;
}
.form__row .form__radio-label {
    position: relative;
    font-size: 1.1rem;
    padding-left: 2rem;
    cursor: pointer;
}
.btn-row {
    float: left;
    width: 100%;
    margin: 10px 0;
}
.btn-row a {
    float: right;
    color: #55c57a;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #55c57a;
	text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
	width: 25%;
	float: left;
	position: relative;
}
#progressbar li img {
    width: 28px;
    display: block;
    margin: 10px auto 5px;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
    display: block;
    font-size: 14px;
    font-weight: 700;
	color: #55c57a;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background-image: linear-gradient(to right, #7ed56f, #28b485);
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}