*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Roboto condensed', arial;
}
body{
    height: 100vh;
    background-color: #eef0f1;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 250px;
    height: 100%;
    padding: 10px 20px;
    transition: all .3s ease;
}
.sidebar.close{
    width: 86px;
}
.sidebar.close .text{
    display: none;
}
.wrapper{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.sidebar-logo h3{
    font-weight: 700;
    font-size: 25px;
    margin-left: .5rem;
}
.image{
    min-width: 45px;
    display: flex;
    align-items: center;
}
.image img{
    height: 45px;
    width: 45px;
}
.toggle-icon{
    position: absolute;
    right: -62px;
    top: 1%;
    transform: translateY(-50px);
    background-color: #28BCFC;
    transform: rotate(180deg);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: all .4s ease;
}
.toggle-icon.close{
    transform: rotate(0deg);
}
.nav-item{
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 15px;
    height: 50px;
}
.nav-item i{
    font-size: 22px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link{
    text-decoration: none;
    color: #012970;
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: all .2s ease;
}
.nav-link:hover{
    background-color: #28BCFC;
    color: #fff;
}
.active{
    background-color: #28BCFC;
    color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}
.bottom-content{
    color: #012970;
}
.text-logo-close{
    display: none;
}

.top{
    background-color: #f8f8f8;
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.top p{
    margin-right: 1rem;
    font-size: 20px;
    font-weight: 700;
    color: #012970;
}
.marginMain{
    margin-left: 250px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.marginSide{
    margin-left: 85px;
    padding: 2rem;
}
.organize{
    display: flex;
}
.point{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 230px;
    width: 250px;
    background-color: #fff;
}
.meta{
    background-color: #fff;
    width: 75%;
    height: 230px;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.progressBar{
    width: 90%;
    height: 10px;
    background-color: #012970;
    border-radius: 5px;
}
.progress{
    width: 70%;
    background-color: #26D64C;
    height: 10px;
    border-radius: 5px 0 0 5px;
}
.historico{
    background-color: #fff;
    height: 340px;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;
}
.card{
    background-color: #86e59a;
    height: 80%;
    width: 25%;
    margin: 0 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.card h4{
    text-align: center;
}
.card span{
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 1rem;
}
.card div{
    margin: .5rem;
    background-color: #fff;
    border-radius: 8px;
    padding: .5rem;
}

@media screen and (max-width:767px) {
    .sidebar{
        display: none;
    }
    .bottom-nav {
        width: 50%;
        position: fixed;
        bottom: 0px;
        left: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        margin: 0px;
        border-radius: 20px 20px 0px 0px;
        padding: 30px 0px 15px;
        box-shadow: 0px 8px 10px rgba(130, 43, 97, 0.19);

        list-style: none;
    }
    
    .bottom-nav li a {
        width: 75px;
        height: 45px;
        color: #012970;
        text-align: center;
        font-size: 20px;
        display: block;
        transition: .6s;
        position: relative;
    }
    
    .bottom-nav li a i {
        width: 100%;
        position: absolute;
        top: 23%;
        left: 0;
        transition-delay: .3s;
        transition: .6s cubic-bezier(.49, -.35, .77, 1.44);
        z-index: 9;
    }
    
    .bottom-nav li a span {
        display: block;
        font-size: 12px;
        width: 100%;
        position: absolute;
        bottom: -16px;
        transition-delay: .3s;
        transition: .6s cubic-bezier(.49, -.35, .77, 1.44);
        z-index: 9;
        opacity: 0;
    }
    
    .bottom-nav li a.active-icon i {
        top: -102%;
        transition-delay: .3s;
        transition: .6s cubic-bezier(.49, -.35, .77, 1.44);
    }
    
    .bottom-nav li a.active-icon span {
        bottom: 14px;
        transition-delay: .5s;
        transition: .6s cubic-bezier(.49, -.35, .77, 1.44);
        opacity: 1;
    }
    
    .bottom-nav .slider {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -30px;
        background-color: #fff;
        border: 2px solid #012970;
        box-shadow: 0px 0px 0px 5px #28BCFC;
        transition: .6s;
        border-radius: 50%;
    }
    .marginMain{
        margin: 0;
        padding: .8rem; 
    }
    .historico{
        height: 300px;
    }
}

 @media(max-width: 1200px) 
 {
    #card4{
        display: none;
    }
    .card{
        width: 33.3%;
    }
 }
@media(max-width: 1000px)
{
    #card3{
        display: none;
       }
       .card{
        width: 50%;
       }
}

@media(max-width: 900px)
 {
   .bottom-nav{
     width: 100%;
     left: 0;
   }
 }